@font-face{
	font-family: "czcionka";
	src: url("materialy_dratewka/fonts/PressStart2P.ttf");
}
body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: "czcionka";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	color: white;
	position: relative;
}
#main{
	margin: 0 auto;
	position: relative;
}

/* #image{
	width: 200px;
	height: 200px;
	background-color: red;
} */
img{
	background-color: aqua;
	width: 256px;
	height: 160px;
	border: 2px solid grey;
	float: left
}
label{
	margin-top: 25px;
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 320px;
}

input, input:active, input:focus{
	top: 320px;
	left: 180px;
	position: absolute;
	margin-top: 25px;
	font-size: 18px;
	font-family: "czcionka";
	background-color: black;
	outline: none;
	border: none;
	color:transparent;
	text-shadow: 0 0 0 white;
	/* text-transform: uppercase; */
}

#texts{
	position: absolute;
	top: 200px;
	display: block;
}

#compass{
	background-image: url('data/other/kompas.bmp');
	background-size: contain;
	width: 256px;
	height: 120px;
	position: relative;
	left: 300px;
	top: 20px;
}

#compass > div {
	position: absolute;
	background-color: black;
}

#overlay{
	position: absolute; 
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0,0,0);
	z-index: 2;
}

#overlay > img {
	width: 600px;
	height: 400px;
}